@import '../settings/colors';

.btn {
  background-color: $color--green;
  border-radius: 4rem;
  color: $color--day;
  display: inline-block;
  margin: .375rem .5rem .5rem 0;
  padding: .75rem 1rem;

  .page & {
    color: $color--day;
  }
}
