@import '../settings/colors';

.burger-badge {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 2rem;
  width: 2rem;

  span {
    background-color: $color--day;
    height: .125rem;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: center center;
    transition: .2s ease-in-out;
    width: 100%;

    &:nth-child(1) {
      top: .4375rem;
    }

    &:nth-child(2) {
      top: .9375rem;
    }

    &:nth-child(3) {
      top: 1.4375rem;
    }
  }

  .active & {

    span:nth-child(1) {
      top: .9375rem;
      transform: rotate(+135deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      top: .9375rem;
      transform: rotate(-135deg);
    }
  }
}
