@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/helpers';

.form {
  @include margin-fix;
  margin-bottom: 4rem;
  margin-top: 4rem;
  max-width: 40rem;
  overflow: hidden;
  width: 100%;

  &__set {
    @include margin-fix;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2rem;
    width: 100%;
  }

  &__text {
    appearance: none;
    background: none;
    border: .0625rem solid $color--green;
    border-radius: 4rem 0 0 4rem;
    color: $color--blue;
    display: block;
    flex: 0 1 auto;
    padding: .75rem 1rem;
    width: 100%;
  }

  &__btn {
    align-items: center;
    background-color: $color--green;
    border: 0;
    border-radius: 0 4rem 4rem 0;
    color: $color--day;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    font-weight: 700;
    justify-content: center;
    max-width: 16rem;
    min-width: 6rem;
    padding: .75rem 1rem;
    width: auto;
  }
}
