@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/helpers';

@mixin lists {
  ul,
  ol {
    @include margin-fix;
    counter-reset: li;
    list-style-type: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 40rem;

    li {
      @include margin-fix;
      margin-top: 1rem;
      padding-left: 2rem;

      &::before {
        color: $color--blue;
        counter-increment: li;
        font-size: 1.125rem;
        font-weight: 700;
        left: 0;
        position: absolute;
        width: 2rem;
      }
    }
  }

  ul li::before {
    content: '•';
    text-align: center;
    width: 1.25rem;
  }

  ol li::before {
    content: counter(li, decimal-leading-zero);
  }

  .list-searchresults li {
    margin-top: 2rem;
  }
}
