@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/helpers';

@mixin media {
  figure {
    @include margin-fix;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 40rem;
    width: 100%;

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    figcaption {
      background-color: $color--blue--light;
      font-size: .875rem;
      padding: 1rem;
      width: 100%;
    }

    &.video {
      height: 0;
      overflow: hidden;
      padding-top: 56.25%;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
