@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/helpers';

// font families
@mixin font-family {
  font-family: 'KlavikaWebBasic', serif;
  font-weight: 400;

  strong,
  b {
    color: $color--blue;
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
    font-weight: 400;
  }
}

@mixin font-family--cursive {
  font-family: 'Manus', serif;
  font-weight: 400;

  strong,
  b,
  em,
  i {
    font-style: normal;
    font-weight: 400;
  }
}

// typeset

@mixin typeset {
  @include font-family;
  color: $color--gray;
  font-size: 1rem;
  line-height: 1.25;

  a {
    color: $color--gray;
  }

  h1 {
    @include margin-fix;
    color: $color--blue;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 40rem;

    + p {
      color: $color--blue;
      font-size: 1.25rem;
    }
  }

  h2 {
    @include margin-fix;
    color: $color--blue;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 40rem;

    a {
      color: $color--green;
    }
  }

  a  h2 {
    color: $color--green;
  }

  h3 {
    @include margin-fix;
    color: $color--blue;
    font-size: 1rem;
    font-weight: 700;
    max-width: 40rem;

    a {
      color: $color--green;
    }
  }

  p {
    @include margin-fix;
    hyphens: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 40rem;

    a {
      color: $color--green;
      font-weight: 700;
    }
  }

  hr {
    @include margin-fix;
    background-color: $color--blue--light;
    height: .25rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 40rem;
    width: 100%;
  }

  blockquote {
    @include margin-fix;
    color: $color--blue;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 40rem;

    p {
      font-size: 1.25rem;
      hyphens: none;
    }

    cite {
      @include margin-fix;
      color: $color--gray;
      font-size: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}
