@font-face {
  font-family: 'KlavikaWebBasic';
  src: url('../fonts/KlavikaWebBasic400.woff2') format('woff2'),
       url('../fonts/KlavikaWebBasic400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebBasic';
  src: url('../fonts/KlavikaWebBasic400i.woff2') format('woff2'),
       url('../fonts/KlavikaWebBasic400i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'KlavikaWebBasic';
  src: url('../fonts/KlavikaWebBasic700.woff2') format('woff2'),
       url('../fonts/KlavikaWebBasic700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manus';
  src: url('../fonts/Manus400.woff2') format('woff2'),
       url('../fonts/Manus400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
