@import '../mixins/typography';
@import '../settings/colors';

.breadcrumb {
  display: flex;
  flex-flow: row wrap;

  &__item {
    font-size: .875rem;
    line-height: 1.5;
    white-space: nowrap;

    &::before {
      content: '\00A0»\00A0';
    }
  }

  &__item:first-child::before {
    content: '';
  }

  &__item:last-child {
    color: $color--gray;
  }

  a {
    color: $color--green;
  }
}
