@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/typography';

.page {
  @include typeset;
  align-items: center;
  background-color: $color--day;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  min-width: 20rem;
  overflow-x: hidden;
  padding-top: 5rem;
  width: 100%;
  z-index: 0;

  @media #{$mq-m} {
    padding-top: 10rem;
  }

  @media #{$mq-m} {
    padding-top: 9rem;
  }
}
