@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/media';
@import '../mixins/typography';

.page-aside {
  display: flex;
  flex-flow: column nowrap;
  max-width: $content-width;
  padding: 1rem 1rem 3rem;
  width: 100%;

  @media #{$mq-s} {
    flex-flow: row wrap;
    padding: 1rem 3rem 3rem;
  }

  &__teaser {
    @include media;
    padding: 1rem;
    width: 100%;

    @media #{$mq-s} {
      width: 50%;

      &:nth-child(3) {
        width: 100%;
      }
    }

    @media #{$mq-m} {
      width: 33.333%;

      &:nth-child(3) {
        width: 33.333%;
      }
    }
  }
}
