@import '../settings/colors';
@import '../settings/layout';

.page-footer {
  align-items: center;
  background-color: $color--blue--light;
  display: flex;
  flex-flow: column nowrap;
  margin-top: auto;
  width: 100%;

  a {
    color: $color--green;
    font-weight: 700;
  }

  &__contact {
    display: flex;
    flex-flow: column nowrap;
    max-width: $content-width;
    padding: 1rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 1rem 3rem;
    }

    @media #{$mq-m} {
      flex-flow: row nowrap;
    }

    &__item {
      padding: 1rem;
    }
  }

  &__menu {
    display: flex;
    flex-flow: row wrap;
    max-width: $content-width;
    padding: 1rem 2rem 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 1rem 4rem 2rem;
    }

    @media #{$mq-m} {
      justify-content: flex-end;
    }

    &__item {
      margin-right: 1rem;
      margin-top: 1rem;

      @media #{$mq-m} {
        margin-left: 1rem;
        margin-right: 0;
      }
    }

    &__item:first-child {
      margin-left: 0;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}
