@import '../settings/layout';
@import '../mixins/lists';
@import '../mixins/helpers';
@import '../mixins/media';

.page-main {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  max-width: $content-width;
  padding: 1rem 1rem 3rem;
  width: 100%;
  z-index: 4;

  @media #{$mq-s} {
    padding: 1rem 3rem 3rem;
  }

  &__content {
    @include lists;
    @include media;
    padding: 1rem;
    width: 100%;

    @media #{$mq-m} {
      flex: 1 0 auto;
      width: 66.666%;

      .page--home & {
        width: 50%;
      }
    }

    &__title {
      @include margin-fix;
      margin-bottom: 3rem;
      width: 100%;
    }
  }

  &__aside {
    @include lists;
    @include media;
    padding: 3rem 1rem 1rem;
    width: 100%;

    .page--home & {
      padding-top: 1.5rem;
    }

    @media #{$mq-m} {
      flex: 0 0 auto;
      width: 33.333%;

      .page--home & {
        width: 50%;
      }
    }
  }

  &__projects {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2rem;
    width: 100%;

    &__item {
      @include media;
      padding: 1rem;
      width: 100%;

      @media #{$mq-s} {
        width: 50%;
      }

      @media #{$mq-m} {
        width: 33.333%;
      }
    }
  }

  &__employees {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    padding-top: 2rem;
    width: 100%;

    &__title {
      padding: 1rem 1rem 0;
      width: 100%;
    }

    &__item {
      @include media;
      flex: 0 0 auto;
      padding: 1rem;
      width: 100%;

      @media #{$mq-s} {
        width: 50%;
      }

      @media #{$mq-m} {
        width: 33.333%;
      }

      @media #{$mq-l} {
        width: 25%;
      }
    }
  }

  &__employees--half,
  &__employees--half &__employees__item {

    @media #{$mq-l} {
      width: 50%;
    }
  }
}
