@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/typography';

.page-menu {
  background-color: rgba($color--blue, .75);
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity ease-in-out .25s;
  width: 100%;
  will-change: opacity pointer-events;
  z-index: 9;

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  @media #{$mq-l} {
    background: none;
    height: auto;
    opacity: 1;
    overflow-x: visible;
    overflow-y: visible;
    pointer-events: all;
    position: fixed;
  }

  &__wrap {
    align-items: center;
    background-color: $color--day;
    display: flex;
    filter: drop-shadow(0 .5rem 1rem rgba($color--night, .0625));
    flex-flow: column nowrap;
    height: auto;
    padding-top: 5rem;
    width: 100%;

    @media #{$mq-m} {
      padding-top: 10rem;
    }

    @media #{$mq-l} {
      min-height: 9rem;
      padding-top: 5.6125rem;
    }
  }

  &__mainmenu {
    width: 100%;

    &__wrap {
      display: flex;
      flex-flow: column nowrap;
      max-width: $content-width;
      width: 100%;

      @media #{$mq-l} {
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 0 3rem;
        position: initial;
      }
    }

    &__item {
      border-bottom: .125rem $color--blue--light solid;
      padding: 1rem 0;

      @media #{$mq-l} {
        border: 0;
        padding: .5rem 1rem 1.5rem;
        position: initial;
      }
    }

    &__search {
      border-bottom: .125rem $color--blue--light solid;
      padding: 1rem 0;

      @media #{$mq-m} {
        border: 0;
        padding: 0 1rem 1.5rem;
      }
    }

    a {
      border-bottom: .125rem $color--day solid;
      color: $color--green;
      font-weight: 700;
      margin-left: 2rem;
      transition: border ease-in-out .2s;

      @media #{$mq-s} {
        margin-left: 4rem;
      }

      @media #{$mq-l} {
        margin-left: 0;
      }

      &.mobile {
        display: inline;

        @media #{$mq-l} {
          //display: none;
        }
      }

      &.desktop {
        display: none;

        @media #{$mq-l} {
      //    display: inline;
        }
      }
    }

    a:hover,
    .active {
      border-bottom: .125rem $color--green solid;
    }
  }

  &__submenu {
    background-color: $color--blue--light;
    margin-bottom: -1rem;
    margin-top: 1rem;
    width: 100%;

    @media #{$mq-l} {
      bottom: 0;
      display: block;
      left: 0;
      margin-bottom: 0;
      margin-top: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transform: translateY(+100%);
      transition: opacity ease-in-out .25s;
      will-change: opacity;
      z-index: -1;

      *:hover > & {
        z-index: 8;
        opacity: 1;
        pointer-events: all;
      }
    }

    &__toggle {
      border-left: .125rem $color--blue--light solid;
      cursor: pointer;
      display: block;
      height: 3.25rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 3.25rem;
      transform: translateY(-100%);

      @media #{$mq-l} {
        display: none;
      }

      &::before,
      &::after {
        background-color: $color--green;
        content: '';
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity ease-in-out .25s;
      }

      &::before {
        height: .125rem;
        width: 1.25rem;
      }

      &::after {
        height: 1.25rem;
        width: .125rem;
      }

      .page-menu__submenu--active &::after {
        opacity: 0;
      }
    }

    &__wrap {
      display: flex;
      flex-flow: column nowrap;
      max-height: 0;
      max-width: $content-width;
      overflow: hidden;
      transition: max-height ease-in-out .25s;
      width: 100%;
      will-change: max-height;

      .page-menu__submenu--active & {
        max-height: 100rem;
      }

      @media #{$mq-l} {
        flex-flow: row nowrap;
        height: auto;
        justify-content: flex-end;
        margin: 0 auto;
        max-height: none;
        overflow: visible;
        padding: 0 3rem;
      }
    }

    &__item {
      border-top: .125rem $color--day solid;
      font-size: .875rem;
      padding: 1rem 0;

      @media #{$mq-l} {
        border: 0;
        padding: 1.5rem 1rem;
      }
    }

    a {
      border-bottom: .125rem $color--blue--light solid;
      margin-left: 4rem;

      @media #{$mq-s} {
        margin-left: 6rem;
      }

      @media #{$mq-l} {
        margin-left: 0;
      }
    }
  }

  &__languages {
    align-items: center;
    background-color: $color--day;
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem 1.5rem;
    width: 100%;

    @media #{$mq-s} {
      padding: .5rem 3.5rem;
    }

    @media #{$mq-m} {
      display: none;
    }

    &__item {
      opacity: .375;
      padding: 1rem .5rem;
      transition: opacity ease-in-out .2s;
    }

    &__item:hover {
      opacity: 1;
    }

    svg {
      display: block;
      height: .9rem;
      width: 1.2rem;
    }
  }

  &__contact {
    background-color: $color--blue;
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem 1rem;
    width: 100%;

    @media #{$mq-s} {
      flex-flow: row nowrap;
      padding: 1.5rem 3rem;
    }

    @media #{$mq-m} {
      display: none;
    }

    a {
      color: $color--day;
      font-weight: 700;
    }

    &__item {
      padding: .5rem 1rem;
    }
  }
}
