@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/typography';

.page-cover {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: -10rem;
  overflow: hidden;
  padding: 8rem 1rem 0;
  width: 100%;
  z-index: 0;

  @media #{$mq-s} {
    margin: 0 -2rem -12rem;
    padding: 8rem 2rem 0;
  }

  @media #{$mq-m} {
    margin-bottom: -14rem;
    padding: 12rem 2rem 0;
  }

  @media #{$mq-l} {
    margin-bottom: -16rem;
    padding: 16rem 2rem 0;
  }

  &__text {
    @include font-family--cursive;
    color: $color--day;
    font-size: 3rem;
    line-height: 1;
    margin: auto 0;
    max-width: $content-width;
    padding: 2rem 1rem 6rem;
    text-align: center;
    width: 100%;
    z-index: 2;

    @media #{$mq-s} {
      font-size: 3.5rem;
      padding: 2rem 2rem 6rem;
    }

    @media #{$mq-m} {
      font-size: 4rem;
    }

    @media #{$mq-l} {
      font-size: 4.5rem;
    }
  }

  &__seal {
    bottom: 6.5rem;
    filter: drop-shadow(0 .5rem 1rem rgba($color--night, .0625));
    position: absolute;
    right: 3rem;
    width: 5rem;
    z-index: 6;

    @media #{$mq-s} {
      bottom: 8.5rem;
      right: 5rem;
      width: 6rem;
    }

    @media #{$mq-m} {
      bottom: 9.5rem;
      right: 6rem;
      width: 8rem;
    }

    @media #{$mq-l} {
      bottom: 11rem;
      margin-right: -$content-width / 2 + 6rem;
      right: 50%;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
      z-index: 5;
    }
  }

  &::before {
    background: linear-gradient(to top, rgba($color--day, 1), rgba($color--day, 0));
    bottom: 0;
    content: '';
    display: block;
    height: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &::after {
    background: linear-gradient(to top, $color--day 25%, rgba($color--day, .75) 100%);
    border-radius: 2rem 2rem 0 0;
    content: '';
    display: block;
    height: 8rem;
    max-width: $content-width - 4rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-s} {
      height: 10rem;
    }

    @media #{$mq-m} {
      height: 12rem;
    }

    @media #{$mq-l} {
      height: 14rem;
    }
  }
}
