@import '../settings/colors';
@import '../settings/layout';
@import '../mixins/typography';

.page-header {
  align-items: flex-start;
  background-color: $color--day;
  display: flex;
  filter: drop-shadow(0 .5rem 1rem rgba($color--night, .0625));
  flex-flow: row nowrap;
  height: 5rem;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  @media #{$mq-m} {
    height: 10rem;
  }

  @media #{$mq-l} {
    background: none;
    filter: none;
    height: 9rem;
  }

  &::before,
  &::after {
    content: '';
    flex: 1 0 auto;
    height: 4rem;
    width: auto;
  }

  &::after {
    background-color: $color--blue;
  }

  a {
    font-weight: 700;
  }

  &__wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    max-width: $content-width;
    width: 100%;
  }

  &__languages {
    align-items: center;
    display: none;
    flex-flow: row nowrap;
    height: 4rem;
    padding: 1rem 1.5rem 1rem 3.5rem;

    @media #{$mq-m} {
      display: flex;
      margin-right: auto;
    }

    @media #{$mq-l} {
      margin-right: 0;
    }

    &__item {
      opacity: .375;
      padding: 1rem .5rem;
      pointer-events: all;
      transition: opacity ease-in-out .2s;
    }

    &__item:hover {
      opacity: 1;
    }

    svg {
      display: block;
      height: .9rem;
      width: 1.2rem;
    }
  }

  &__contact {
    align-items: center;
    background-color: $color--blue;
    display: none;
    flex-flow: row nowrap;
    height: 4rem;
    padding: 1rem;

    @media #{$mq-m} {
      display: flex;
    }

    @media #{$mq-l} {
      padding-right: 3rem;
    }

    &__item {
      padding: 1rem;
      pointer-events: all;
    }

    a {
      color: $color--day;
    }
  }

  &__logo {
    margin-right: auto;
    padding: 1rem 2rem;
    will-change: transform;

    @media #{$mq-s} {
      padding: 1rem 4rem;
    }

    @media #{$mq-m} {
      padding: .5rem 4rem 1.5rem;
      width: 100%;
    }

    @media #{$mq-l} {
      margin-top: -1rem;
      padding: 0 4rem 2rem;
    }

    a {
      color: $color--green;
      display: block;
      height: 3rem;
      pointer-events: all;
      width: 9rem;

      @media #{$mq-m} {
        height: 4rem;
        width: 12rem;
      }
    }

    svg {
      height: 3rem;
      width: 9rem;

      @media #{$mq-m} {
        height: 4rem;
        width: 12rem;
      }
    }
  }

  &__toggle {
    align-items: center;
    background-color: $color--green;
    color: $color--day;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    margin-left: auto;
    overflow: hidden;
    padding: 1rem;
    pointer-events: all;
    user-select: none;
    width: 5rem;
    z-index: 3;

    @media #{$mq-m} {
      height: 4rem;
      padding: .5rem;
      width: 4rem;
    }

    @media #{$mq-l} {
      display: none;
    }

    &__menu,
    &__back {
      font-size: .875rem;
      font-weight: 700;
      height: 1rem;
      line-height: 1rem;
    }

    &__back {
      display: none;
    }
  }
}
