@import '../settings/colors';
@import '../settings/layout';

.search-wrapper {
  margin: 2rem 0 2rem 0;
  padding: 0 2rem 0 2rem;

  @media #{$mq-l} {
    width: $content-width;
  }

  &__results {
     margin: 2rem 0 0 0;

     ol {
       margin: 1rem 0 0 0;
       padding: 0 0 0 0.875rem;

       li {
         padding: 0 0 0 0.3125rem;
       }
     }
   }

  .search-item--highlight {
    background-color: $color--green;
    border-radius: 1.25rem;
    color: $color--day;
    padding: 0 .75rem;
  }

  #search-input {
    border: 0.0625rem solid $color--blue;
    margin: 0 1rem 0 0;
    padding: .3125rem 1.25rem;
    width: 15.63rem;
  }

  #submit-search {
    background-color: $color--green;
    border-radius: 1.25rem;
    color: $color--day;
    margin-bottom: -.25rem;
    padding: .3125rem 1.25rem;
  }
}
